<app-header></app-header>
<div class="content">
    <h1>Introducción a Angular</h1><br>
    <p>
        Página web como ya la definimos anteriormente es un documento digital que 
        se accede mediante un navegador mientras que un sitio web (website) es un 
        conjunto de páginas web relacionadas bajo un mismo tema, que se encuentran 
        bien organizadas y hospedadas en Internet mediante el nombre de dominio.</p><br>
    <p>
        Una buena página web es una herramienta fundamental para poner en práctica 
        las estrategias de marketing digital y generar la estructura necesaria para 
        poder iniciar la venta online de tus productos o servicios.</p><br>
    <p>
        Como hemos dicho anteriormente, las páginas web han evolucionado con el paso de los 
        años. Hoy en día, podemos encontrar diversos tipos de estas.
    </p>
    <app-body></app-body>
</div>
<app-footer></app-footer>